*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
}
:root{
    --color-orange: #ef8172;
    --color-pink: #ff4c68;
    --color-white: #fff;
    --default-padding: 7% 15%;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}
#title{
    background:#ff4c68;
    color: #fff;
    /* height: 650px; */
}
.container-fluid{
    padding: 3% 15% 7%;
}

h1{
    font-weight: 900;
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
    font-weight: 900;
}
/* Navigation styling. */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: 'ubuntu',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #443a3a;
}
/* Download button */
.btn-download{
    margin: 5% 5% 5% 0;
}

.title-img{
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Feature section */
#features{
    position: relative;
    z-index: 100;
    background: #f8f8f8;
    padding: 7% 15%;
}
.feature-col{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.feature-icon{
    color: #ef8172;
    font-size: 4.5rem;
}
.feature-icon:hover{
    color: #ff4c68;
}
.feature-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;

}

/* Testimonial section */
#testimonials{
    text-align: center;
    background: var(--color-orange);
    color: var(--color-white);
}
.testimonial-text{
    font-size: 3rem;
    font-weight: 900;
}

.testimonial-img{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press{
    background: var(--color-orange);
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}
/* pricing section */

#pricing{
    padding: 100px;

}

.pricing-column{
    padding: 3% 2%;
}

@media only screen and (max-width: 1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}

/* CTA SECTION */
#cta{
    background: var(--color-pink);
    text-align: center;
    padding: 7% 15%;
}

.cta-title{
    color: var(--color-white);
}

#footer{
    padding: 4% 15%;
    text-align: center;
}
.footer-icon{
    padding: 0 15px;
}

.footer-icon:hover{
    color: var(--color-orange);
}
.footer-copyright{
    padding-top: 2rem;
    font-size: 1.5rem;
}